<div
  class="bg-spotify-black text-spotify-light-gray min-h-screen flex flex-col items-center p-4 font-sans"
>
  <header
    class="w-full max-w-4xl p-4 flex flex-col sm:flex-row justify-between items-center gap-4 sm:gap-0"
  >
    <div class="flex items-center gap-4">
      <img
        src="assets/spotify-jam-saver-logo.png"
        alt="Spotify Jam Saver Logo"
        class="logo-img"
      />
      <h1 class="text-3xl sm:text-5xl font-bold text-white">{{ title }}</h1>
    </div>
    <div *ngIf="isAuthenticated" class="w-full sm:w-auto">
      <button
        (click)="logout()"
        class="w-full sm:w-auto bg-spotify-green text-white font-semibold py-2 px-4 rounded hover:bg-opacity-80 transition-colors"
      >
        Logout
      </button>
    </div>
  </header>

  <main
    class="w-full max-w-4xl flex-grow flex flex-col items-center justify-center"
  >
    <div *ngIf="!isAuthenticated" class="text-center">
      <p class="mb-4 text-lg">Please log in with Spotify to continue.</p>
      <button
        (click)="login()"
        class="bg-spotify-green text-white font-bold py-3 px-6 rounded-full text-lg hover:bg-opacity-80 transition-colors focus:outline-none focus:ring-2 focus:ring-spotify-green focus:ring-opacity-50"
      >
        Login with Spotify
      </button>
    </div>

    <div *ngIf="isAuthenticated" class="w-full text-center">
      <div *ngIf="userProfile" class="mb-6 flex flex-col items-center">
        <img
          *ngIf="
            userProfile.images &&
            userProfile.images.length > 0 &&
            userProfile.images[0].url
          "
          [src]="userProfile.images[0].url"
          alt="Profile Picture"
          class="w-24 h-24 rounded-full mb-4 shadow-lg"
        />
        <h2 class="text-2xl font-semibold text-white">
          Welcome, {{ userProfile.display_name }}!
        </h2>
        <p *ngIf="userProfile.email" class="text-sm text-gray-400">
          {{ userProfile.email }}
        </p>
      </div>
      <p *ngIf="!userProfile && isAuthenticated" class="text-lg mb-4">
        Logged in, loading profile...
      </p>

      <!-- Jam Recorder will go here and be styled next -->
      <app-jam-recorder class="w-full mt-6"></app-jam-recorder>
    </div>
  </main>

  <footer class="w-full max-w-4xl p-4 text-center text-xs text-gray-500">
    <div class="flex items-center justify-center gap-2">
      <a
        href="https://github.com/jmdodge/spotify-jam-saver"
        target="_blank"
        rel="noopener noreferrer"
        class="text-gray-500 hover:text-white transition-colors flex gap-2 items-center"
        aria-label="GitHub Repository"
      >
        View on GitHub
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="inline-block"
        >
          <path
            d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"
          />
        </svg>
      </a>
    </div>
    <div class="mt-2 flex items-center justify-center gap-4">
      <div class="text-sm text-gray-400">
        <span>Enjoying the app? </span>
        <a
          class="text-spotify-green hover:text-opacity-80 transition-colors cursor-pointer"
          href="https://www.paypal.com/donate/?business=D72PKCZ892MHW&no_recurring=0&item_name=Thank+you+for+supporting+the+work+of+folks+who+want+to+give+things+to+the+world%21&currency_code=USD"
          >Buy me a coffee ☕</a
        >
      </div>
    </div>
    <div class="mt-1">Spotify Jam Saver <span>v0.0.2</span> | &copy; 2025</div>
  </footer>
</div>

<router-outlet></router-outlet>
